{% extends "conteneur.html" %}
{% block titre %}| A propos{% endblock %}
{% block corps %}
<center><h1>À propos</h1></center>
<p>Brickabrack est une application web développée dans le cadre du cours Python dispensé par M. Thibault Clérice, en Master 2 Technologies numériques appliquées à l'histoire, à l'École nationale des chartes.</p>
<article>
    <header><h5><strong>Qu'est-ce que Brickabrack ?</strong></h5></header>
    <p>Brickabrack est une application qui permet de retrouver plus facilement des plans de construction LEGO. Le numéro d'élément d'une brique permet d'obtenir le(s) plan(s) de construction associé(s).</p>
</article>
<article>
    <header><h5><strong>Les sources de l'application</strong></h5></header>
    <p>Par souci de respect des droits d'auteurs, l'application ne peut proposer des images des briques et des plans de construction LEGO.
    Le nom de brique LEGO et le titre des plans de construction sont ceux du site officiel de la marque.</p>
</article>
<article>
    <header><h5><strong>Les outils de développement de l'application</strong></h5></header>
    <p>L'application a été développée grâce aux languages HTML, CSS, JavaScript, Python, et SQLite pour la base de données.</p>
</article>
<article>
    <header><h5><strong>Comment installer l'application ? </strong></h5></header>
    <p>Pour installer Brickabrack, il faudra vous rendre sur GitHub et bien suivre les indications du fichier README.</p>
</article>
<article>
    <header><h5><strong>Comment nous aider enrichir l'application ?</strong></h5></header>
    <p>Vous pouvez contribuer à Brickabrack en vous créant un compte utilisateur. Ce dernier vous permettra d'ajouter, de modifier, de supprimer des briques, des plans et des thèmes. Il vous permettra également d'associer une brique à un plan.</p>
</article>
<article>
    <header><h5><strong>Ses contributeurs</strong></h5></header>
    <p>Ses contributeurs sont Lien Céard et son frère Hugues (pour le choix des briques).</p>
</article>


{% endblock %}
