{% extends "conteneur.html" %}
{% block titre %}| Glossaire{% endblock %}
{% block corps %}

<center><h1>Glossaire</h1></center>
    <p>Ce présent glossaire est destiné aux amateurs de LEGO, afin de les aider à naviguer dans Brickabrack. La créatrice de l'application a choisi de conserver la terminologie propre au monde des LEGO. Les définitions des termes s'inspirent de celles présentes sur le site officiel de la marque LEGO.</p>

<article>
    <header><h5><strong>Le numéro d'ensemble</strong></h5></header>
    <p>Le numéro d'ensemble permet d'identifier un set unique de LEGO pour un plan de construction. Cet identifiant  est composé de cinq à sept chiffres.
        Il est apposé sur les boîtes et également sur les plans de construction. </p>
</article>
<article>
    <header><h5><strong>Le numéro d'élément</strong></h5></header>
    <p>Le numéro d'élément identifie de manière unique une brique de LEGO, quelque soit sa couleur. Les dernières pages des plans de construction fournissent une liste des briques et leurs numéros d'éléments correspondants.</p>
</article>
{% endblock %}
