{% extends "conteneur.html" %}

{% block corps %}
    {% if t %}
    {% if updated %}
    	<div class="alert alert-success">
    		<p>Modification réussie. Merci pour votre contribution.</p>
    	</div>
    {% endif %}
<h1 class="text-center"> Mise à jour des données de la fiche du theme</h1>
    <form method="POST" action="{{ url_for('maj_theme', theme_id=t.theme_id)}}">
    	 <div class="mb-3">
		    <label for="theme_nom" class="form-label"><b>Nom du thème:</b></label>
		    <input type="text" name="theme_nom" class="form-control {% if 'theme_nom' in erreurs%}is-invalid{% endif %}" id="theme_nom" aria-describedby="theme_nom_help" value="{{t.theme_nom}}" />
		  </div>
        <input type="submit" name="Modifier" class="btn btn-info" />
    </form>
<br/>
<p class="text-center">
<button type="button" class="btn btn-danger">
    <a class="text-light" href="{{url_for('index_themes')}}">Annuler</a>
</button>
</p>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
<p class="text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('accueil')}}">Retour à l'accueil.</a>
</button>
</p>
{% endblock %}